In [74]:
import pandas as pd

In [77]:
#datasets

gold_data = "datasets/goldData.csv"
reg_data = "datasets/regressionData.csv"

In [75]:
x = pd.read_csv("datasets/regressionData.csv").head()
x

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

# Intro to pySpark

In [11]:
import pyspark

In [76]:
from pyspark.sql import SparkSession

In [16]:
spark=SparkSession.builder.appName("Gold").getOrCreate()

In [18]:
spark

In [57]:
df_pyspark=spark.read.csv('datasets/regressionData.csv')
df_pyspark.show()

+---+-----------+
|_c0|        _c1|
+---+-----------+
|  x|          y|
| 24|21.54945196|
| 50|47.46446305|
| 15|17.21865634|
| 38|36.58639803|
| 87|87.28898389|
| 36|32.46387493|
| 12|10.78089683|
| 81| 80.7633986|
| 25|24.61215147|
|  5|6.963319071|
| 16|11.23757338|
| 16|13.53290206|
| 24|24.60323899|
| 39|39.40049976|
| 54|48.43753838|
| 60|61.69900319|
| 26|26.92832418|
| 73| 70.4052055|
| 29|29.34092408|
+---+-----------+
only showing top 20 rows

In [52]:
df_pyspark = spark.read.option('header', 'true').csv('datasets/regressionData.csv')
df_pyspark.show()

+---+-----------+
|  x|          y|
+---+-----------+
| 24|21.54945196|
| 50|47.46446305|
| 15|17.21865634|
| 38|36.58639803|
| 87|87.28898389|
| 36|32.46387493|
| 12|10.78089683|
| 81| 80.7633986|
| 25|24.61215147|
|  5|6.963319071|
| 16|11.23757338|
| 16|13.53290206|
| 24|24.60323899|
| 39|39.40049976|
| 54|48.43753838|
| 60|61.69900319|
| 26|26.92832418|
| 73| 70.4052055|
| 29|29.34092408|
| 31|25.30895192|
+---+-----------+
only showing top 20 rows

In [53]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [54]:
df_pyspark.head(3)

[Row(x='24', y='21.54945196'),
 Row(x='50', y='47.46446305'),
 Row(x='15', y='17.21865634')]

In [56]:
df_pyspark.printSchema()  #same like df.info in pandas but note that every variable is considered as a string

root
 |-- x: string (nullable = true)
 |-- y: string (nullable = true)

# More into pySpark

In [59]:
## Lets define the dataset column type 
df_pyspark = spark.read.option('header', 'true').csv('datasets/regressionData.csv', inferSchema=True)
df_pyspark.printSchema()

root
 |-- x: double (nullable = true)
 |-- y: double (nullable = true)

In [61]:
# or there is a shorter way to read

df_pyspark = spark.read.csv('datasets/regressionData.csv', header=True, inferSchema=True)
df_pyspark.printSchema()

root
 |-- x: double (nullable = true)
 |-- y: double (nullable = true)

In [64]:
# get colomns
df = df_pyspark    # Just coping it to get a shorter name
df.columns

['x', 'y']

In [70]:
df.select('x').show(3)   # just getting a column, it is a dataframe

+----+
|   x|
+----+
|24.0|
|50.0|
|15.0|
+----+
only showing top 3 rows

In [72]:
df.select(['x', 'y']).show(3)   # multiple columns

+----+-----------+
|   x|          y|
+----+-----------+
|24.0|21.54945196|
|50.0|47.46446305|
|15.0|17.21865634|
+----+-----------+
only showing top 3 rows

In [91]:
# Loading the second dataset
df2 = spark.read.csv(gold_data, header=True, inferSchema=True).select(['Date','Open','High','Low','Close'])
df2.show(5)

+-------------------+----------+----------+------------------+----------+
|               Date|      Open|      High|               Low|     Close|
+-------------------+----------+----------+------------------+----------+
|2011-12-15 00:00:00|154.740005|154.949997|151.71000700000005|152.330002|
|2011-12-16 00:00:00|154.309998|155.369995|        153.899994|155.229996|
|2011-12-19 00:00:00|155.479996|155.860001|        154.360001|154.869995|
|2011-12-20 00:00:00|156.820007|157.429993|        156.580002|156.979996|
|2011-12-21 00:00:00|156.979996|157.529999|        156.130005|157.160004|
+-------------------+----------+----------+------------------+----------+
only showing top 5 rows

In [94]:
df2.dtypes   # checking datatypes

[('Date', 'timestamp'),
 ('Open', 'double'),
 ('High', 'double'),
 ('Low', 'double'),
 ('Close', 'double')]

In [97]:
df2.describe().show()

+-------+------------------+------------------+------------------+------------------+
|summary|              Open|              High|               Low|             Close|
+-------+------------------+------------------+------------------+------------------+
|  count|              1718|              1718|              1718|              1718|
|   mean|127.32343424039563|127.85423744179249|126.77769494412128|127.31948200349262|
| stddev| 17.52699325106065| 17.63118930056491|17.396513028739353| 17.53626908041546|
|    min|        100.919998|        100.989998|        100.230003|             100.5|
|    max|        173.199997|        174.070007|        172.919998|        173.610001|
+-------+------------------+------------------+------------------+------------------+

In [101]:
df2.count()   # Count on how many samples

1718