In [3]:
import pandas as pd

In [50]:
x = pd.read_csv("datasets/regressionData.csv").head()
x

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

# Intro to pySpark

In [11]:
import pyspark

In [13]:
from pyspark.sql import SparkSession

In [16]:
spark=SparkSession.builder.appName("Gold").getOrCreate()

In [18]:
spark

In [51]:
df_pyspark=spark.read.csv('datasets/regressionData.csv')
#df_pyspark.show()

In [52]:
df_pyspark = spark.read.option('header', 'true').csv('datasets/regressionData.csv')
df_pyspark.show()

+---+-----------+
|  x|          y|
+---+-----------+
| 24|21.54945196|
| 50|47.46446305|
| 15|17.21865634|
| 38|36.58639803|
| 87|87.28898389|
| 36|32.46387493|
| 12|10.78089683|
| 81| 80.7633986|
| 25|24.61215147|
|  5|6.963319071|
| 16|11.23757338|
| 16|13.53290206|
| 24|24.60323899|
| 39|39.40049976|
| 54|48.43753838|
| 60|61.69900319|
| 26|26.92832418|
| 73| 70.4052055|
| 29|29.34092408|
| 31|25.30895192|
+---+-----------+
only showing top 20 rows

In [53]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [54]:
df_pyspark.head(3)

[Row(x='24', y='21.54945196'),
 Row(x='50', y='47.46446305'),
 Row(x='15', y='17.21865634')]

In [56]:
df_pyspark.printSchema()  #same like df.info in pandas

root
 |-- x: string (nullable = true)
 |-- y: string (nullable = true)

# More into pySpark